/**Generic CSS elements**/
body{
    background-color: #222;
    color: white
}
h3{
    color: #999;
}
/**CSS ID's and classes**/
.hastag{
    color: #ffc900;
}
#experience{
    background-color: #999;
    color: #222;
}