/**Generic CSS elements**/
*{
    margin: 0px;
    padding: 0px
}
body{
    background-color: #222;
    color: white;
    font:200 14px 'Poppins', sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300px;
}
p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
/**CSS ID's and classes**/
.hastag{
    color: #ffc900;
    font-weight: 150;
}
.section{
    padding: 10px 100px 10px 100px;
}
#initial{
    background-image: url(../images/Linux.png);
    min-height: 280px; /** Because paddings are 10+10 **/
    background-repeat: no-repeat;
    background-size: cover;
}
#experience{
    background-color: white;
    color: #222;
}
#portfolio{
    border-top: 1px solid #ffc900;
}